<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.nyxs.mapper.tdengine.WeatherMapper">


    <insert id="insertTdengine" parameterType="com.liu.nyxs.domain.entity.Weather">
        insert into
        <foreach separator=" " collection="list" item="weather" index="index">
            demo.t0 values
            (#{weather.ts}, #{weather.temperature}, #{weather.humidity})
        </foreach>
    </insert>


    <select id="getWeatherCount" resultType="java.lang.Integer">
        select count(*) from weather
    </select>


    <update id="createDB">
        create database if not exists demo
    </update>


    <update id="createSuperTable">
        create table if not exists demo.weather(ts timestamp, temperature float, humidity float) tags(location nchar(64), groupId int)
    </update>


    <insert id="createTable" parameterType="com.liu.nyxs.domain.entity.Weather">
        create table if not exists demo.t#{groupId} using demo.weather tags(#{location}, #{groupId})

    </insert>


    <insert id="insertSubTdengine" parameterType="com.liu.nyxs.domain.entity.Weather">
        insert into demo.t#{groupId} (ts, temperature, humidity) values (now, ${temperature}, ${humidity})
    </insert>



    <resultMap id="avgResultSet" type="com.liu.nyxs.domain.entity.Weather">
        <id column="ts" jdbcType="TIMESTAMP" property="ts"/>
        <result column="avg(temperature)" jdbcType="FLOAT" property="temperature"/>
        <result column="avg(humidity)" jdbcType="FLOAT" property="humidity"/>
    </resultMap>

    <select id="avg" resultMap="avgResultSet">
        select avg(temperature), avg(humidity)from demo.weather interval(1m)
    </select>

</mapper>